* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    min-height: 100%;
}

.desk {
    min-height: 100vh;
    padding: 40px;
    
    background-image: url("assets/backgroundwebsite.png");
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    place-items: center;
}

.craft-mat {
    position: relative;

    width: min(1100px, 92vw);
    aspect-ratio: 11 / 7;

    background-image: url("assets/craftmat.png");
   
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sticky-navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 14px;
}
 .sticky-navigation a {
    padding: 12px 18px;
 
 
    color: black;
    background-color: #ffe86a;
 
 
    font-family: "Space Mono", monospace;
    font-size: 25px;
    text-decoration: none;
 
 
    box-shadow: 4px 5px 0 rgba(0,0,0,0.18);
 }
 .sticky-navigation a:nth-child(2) {
    transform: rotate(1deg);
 }
 
 
 .sticky-navigation a:nth-child(1) {
    transform: rotate(-2deg);
    background-color: #ffb7d5;
 }
 
 
 .sticky-navigation a:nth-child(3) {
    transform: rotate(-1deg);
    background-color: #a8e8ff;
 }
 
h1{
    margin:0;
 
 
    color: black;
    font-family: "Alata", sans-serif;
    font-size: 95px;
 }
 
 .center {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 80%;
    text-align: center;

    transform: translate(-50%, -50%);
}

.tagline {
    margin: 0 auto;
    max-width: 600px;

    color: #1d2520;
    font-family: "Space Mono", monospace;
    font-size: 25px;
}

.desk-object {
    display: block;
    position: absolute;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    pointer-events: auto;
}

.desk-object img {
    display: block;
    height: auto;
}

.washi-tape {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.washi-tape img {
    display: block;
    width: clamp(280px, 35vw, 550px);
    height: auto;
}

.scissors {
    position: fixed;
    bottom: 30px;
    left: 20px;
    z-index: 8;
}
.scissors img {
    display: block;
    width: clamp(280px, 27vw, 550px);
    height: auto;
}

.glue-gun {
    position: fixed;
    top: 40px;
    right: 0;
    z-index: 9;
}
.glue-gun img {
    display: block;
    width: clamp(280px, 33vw, 550px);
    height: auto;
}

.cat {
    position: fixed;
    bottom: 40px;
    right: 100px;
}
.cat img {
    display: block;
    width: clamp(180px, 13vw, 350px);
    height: auto;
}